@font-face {
	font-family: 'climacons';
	src:url('../font/climacons-webfont.eot');
	src:url('../font/climacons-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/climacons-webfont.svg#Climacons-Font') format('svg'),
		url('../font/climacons-webfont.woff') format('woff'),
		url('../font/climacons-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.climacon {
	&:before{
		font-family: 'climacons';
		speak: none;
		font-style: normal;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		text-decoration: inherit;
		text-align: center;
		vertical-align: middle;
	}

	&.cloud:before {
		content: "\e000";
	}

	&.cloud-sun:before {
		content: "\e001";
	}

	&.cloud-moon:before {
		content: "\e002";
	}

	&.rain:before,
	&.rain-cloud:before {
		content: "\e003";
	}

	&.rain-sun:before,
	&.rain-cloud-sun:before {
		content: "\e004";
	}

	&.rain-moon:before,
	&.rain-cloud-moon:before {
		content: "\e005";
	}

	&.showers:before,
	&.showers-cloud:before {
		content: "\e006";
	}

	&.showers-sun:before,
	&.showers-cloud-sun:before {
		content: "\e007";
	}

	&.showers-moon:before,
	&.showers-cloud-moon:before {
		content: "\e008";
	}

	&.downpour:before,
	&.downpour-cloud:before {
		content: "\e009";
	}

	&.downpour-sun:before,
	&.downpour-cloud-sun:before {
		content: "\e00a";
	}

	&.downpour-moon:before,
	&.downpour-cloud-moon:before {
		content: "\e00b";
	}

	&.drizzle:before,
	&.drizzle-cloud:before {
		content: "\e00c";
	}

	&.drizzle-sun:before,
	&.drizzle-cloud-sun:before {
		content: "\e00d";
	}

	&.drizzle-moon:before,
	&.drizzle-cloud-moon:before {
		content: "\e00e";
	}

	&.sleet:before,
	&.sleet-cloud:before {
		content: "\e00f";
	}

	&.sleet-sun:before,
	&.sleet-cloud-sun:before {
		content: "\e010";
	}

	&.sleet-moon:before,
	&.sleet-cloud-moon:before {
		content: "\e011";
	}

	&.hail:before,
	&.hail-cloud:before {
		content: "\e012";
	}

	&.hail-sun:before,
	&.hail-cloud-sun:before {
		content: "\e013";
	}

	&.hail-moon:before,
	&.hail-cloud-moon:before {
		content: "\e014";
	}

	&.flurries:before,
	&.flurries-cloud:before {
		content: "\e015";
	}

	&.flurries-sun:before,
	&.flurries-cloud-sun:before {
		content: "\e016";
	}

	&.flurries-moon:before,
	&.flurries-cloud-moon:before {
		content: "\e017";
	}

	&.snow:before,
	&.snow-cloud:before {
		content: "\e018";
	}

	&.snow-sun:before,
	&.snow-cloud-sun:before {
		content: "\e019";
	}

	&.snow-moon:before,
	&.snow-cloud-moon:before {
		content: "\e01a";
	}

	&.fog:before,
	&.fog-cloud:before {
		content: "\e01b";
	}

	&.fog-sun:before,
	&.fog-cloud-sun:before {
		content: "\e01c";
	}

	&.fog-moon:before,
	&.fog-cloud-moon:before {
		content: "\e01d";
	}

	&.haze:before {
		content: "\e01e";
	}

	&.haze-sun:before {
		content: "\e01f";
	}

	&.haze-moon:before {
		content: "\e020";
	}

	&.wind:before {
		content: "\e021";
	}

	&.wind-cloud:before {
		content: "\e022";
	}

	&.wind-sun:before,
	&.wind-cloud-sun:before {
		content: "\e023";
	}

	&.wind-moon:before,
	&.wind-cloud-moon:before {
		content: "\e024";
	}

	&.lightning:before,
	&.lightning-cloud:before {
		content: "\e025";
	}

	&.lightning-sun:before,
	&.lightning-cloud.sun:before {
		content: "\e026";
	}

	&.lightning-moon:before,
	&.lightning-cloud-moon:before {
		content: "\e027";
	}

	&.sun:before {
		content: "\e028";
	}

	&.sun-set:before,
	&.sunset:before {
		content: "\e029";
	}

	&.sun-rise:before,
	&.sunrise:before {
		content: "\e02a";
	}

	&.sun-low:before,
	&.low-sun:before {
		content: "\e02b";
	}

	&.sun-lower:before,
	&.lower-sun:before {
		content: "\e02c";
	}

	&.moon:before {
		content: "\e02d";
	}

	&.snowflake:before {
		content: "\e036";
	}

	&.tornado:before {
		content: "\e037";
	}

	&.thermometer-empty:before,
	&.thermometer:before {
		content: "\e038";
	}

	&.thermometer-low:before {
		content: "\e039";
	}

	&.thermometer-medium-low:before {
		content: "\e03a";
	}

	&.thermometer-medium-high:before {
		content: "\e03b";
	}

	&.thermometer-high:before {
		content: "\e03c";
	}

	&.thermometer-full:before {
		content: "\e03d";
	}
	
	&.celcius:before,
	&.celsius:before {
		content: "\e03e";
	}

	&.farenheit:before,
	&.fahrenheit:before {
		content: "\e03f";
	}

	&.compass:before {
		content: "\e040";
	}

	&.compass-north:before {
		content: "\e041";
	}

	&.compass-east:before {
		content: "\e042";
	}

	&.compass-south:before {
		content: "\e043";
	}

	&.compass-west:before {
		content: "\e044";
	}

	&.umbrella:before {
		content: "\e045";
	}

	&.sunglasses:before {
		content: "\e046";
	}

	&.cloud-cycle:before,
	&.cloud-refresh:before {
		content: "\e047";
	}

	&.cloud-down:before,
	&.cloud-download:before {
		content: "\e048";
	}

	&.cloud-up:before,
	&.cloud-upload:before {
		content: "\e049";
	}
}

.u00d,
.u00n {
	@extend .downpour;
}
.c04d,
.c04n {
	@extend .cloud;
}

.c02d, 
.c03d {
	@extend .cloud-sun;
}

.c02n,
.c03n {
	@extend .cloud-moon;
}

.c01d {
	@extend .sun;
}
.c01n {
	@extend .moon;
}

.a01d,
.a02d,
.a03d,
.a04d,
.a05d,
.a06d {
	@extend .fog-sun;
}

.a01n,
.a02n,
.a03n,
.a04n,
.a05n,
.a06n {
	@extend .fog-moon;
}

.s06d, 
.s06n {
	@extend .flurries;
}

.s02d,
.s02n,
.s03d,
.s03n {
	@extend .snow;
}

.s01d,
.s04d {
	@extend .snow-sun;
}

.s01n,
.s04n {
	@extend .snow-moon;
}

.s05d,
.s05n {
	@extend .wind-cloud;
}

.t01d,
.t02d,
.t03d {
	@extend .lightning-sun;
}

.t04d,
.t05d {
	@extend .lightning;
}

.t01n,
.t04n,
.t05n,
.t04n,
.t05n {
	@extend .lightning-moon;
}

.d01d {
	@extend .drizzle-sun;
}
.d02d,
.d03d,
.d02n,
.d03n {
	@extend .drizzle;
}

.d01n {
	@extend .drizzle-moon;
}

.r01d,
.r02d,
.r01n,
.r02n {
	@extend .rain;
}

.r03d,
.r03n {
	@extend .downpour;
}

.f01d,
.f01n {
	@extend .hail;
}

.r04d,
.r06d {
	@extend .showers;
}

.r05d {
	@extend .showers-sun;
}

.r04n,
.r05n,
.r06n {
	@extend .showers-moon;
}
