@import url('https://fonts.googleapis.com/css?family=Lato:100,300&subset=latin-ext');
@import 'icons';

$arrow-size: 1em;

html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

body {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background: #FF9C22;
	background: -webkit-linear-gradient(to bottom, #D93602, #FF9C22);
	background: linear-gradient(to bottom, #D93602, #FF9C22);
}
  
.forecast {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	line-height: 1.43;
}
  
.day {
	color: #fff;
	padding: 15px 20px;
	font-weight: 300;
	
	&:nth-child(5n-4) {
	  background-color: #FF8A65
	}
	&:nth-child(5n-3) {
	  background-color: #FF7043;
	}
	&:nth-child(5n-2) {
	  background-color: #FF5722;
	}
	&:nth-child(5n-1) {
	  background-color: #F4511E;
	}
	&:nth-child(5n-0) {
	  background-color: #E64A19;
	}
}
  
@media screen and (max-width: 767px) and (orientation: landscape) {
	.forecast {
		flex-direction: column;
		justify-content: flex-start;
		flex-wrap: nowrap;
		min-height: calc(100% - 80px);
		overflow-y: auto;
	}
	
	.day {
	  	flex: 1;
		padding: 20px 30px;
	}

	.details {
		min-width: 220px;
	}
}
  
@media screen and (max-width: 767px) and (orientation: portrait) {
	.forecast {
		flex-direction: column;
		justify-content: flex-start;
		flex-wrap: nowrap;
		min-height: calc(100% - 80px);
		overflow-y: auto;
	}
}
  
@media screen and (min-width: 768px) {
	body {
		font-size: 16px;
	}

	.forecast {
		flex-direction: row;
		min-height: calc(100% - 80px);
		flex-wrap: nowrap;
		overflow-x: auto; 
	}
	
	.day {
		flex: 1;
		padding: 20px 30px;
	}

	.details {
		min-width: 280px;
	}
}

@media screen and (min-width: 768px) and (orientation: portrait) {
	.forecast {
		flex-direction: column;
		justify-content: flex-start;
	}

	.day {
		padding: 24px 52px;
	}
}

.date {
	text-align: right;
	font-size: 1.4em;
	padding-right: 10px;
	margin: 0;
}

.avg-temperature {
	font-size: 6em;
	margin: 20px auto 10px;
	line-height: 1;
	font-weight: 100;
}

.weather-status {
	font-size: 1.2em;
	vertical-align: bottom;
	line-height: 1;

	i {
		font-size: 2em;
		margin-right: 10px;
		display: inline-block;
	}
}

.min-max-temperature {
	font-size: 1.2em;
	margin-bottom: 20px;
}

.max-temperature {
	margin-right: 16px;
}

.arrow {
	display: inline-block;
	text-indent: -9999px;
	width: $arrow-size;
	height: $arrow-size;
	margin-right: 10px;
}

.arrow-up {
	@extend .arrow;
	background: url(../font/icons/up-arrow.svg) no-repeat;
	background-size: $arrow-size $arrow-size;
}

.arrow-down {
	@extend .arrow;
	background: url(../font/icons/down-arrow.svg) no-repeat;
	background-size: $arrow-size $arrow-size;
}

.details {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100;
	justify-content: flex-start;
	align-items: stretch;
	font-size: 1.1em;

	.details-row {
		display: flex;
		flex-direction: row;
		flex: 1;
		width: 100;
		padding: 3px 0px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);

		&:last-child {
			border-bottom: none;
		}

		.details-col-1 {
			flex: 1;
			text-align: left;
		}
		.details-col-2 {
			flex: 1;
			text-align: right;
		}
	}
}

#city-name {
	padding: 8px 12px;
	-webkit-appearance: none;
    border-radius: 0;

	&::placeholder {
    color: #fff;
    opacity: 1;
	}
	&:-ms-input-placeholder {
		color: #fff;
	}
	&::-ms-input-placeholder {
		color: #fff;;
	}
}

.btn-search {
	padding: 8px 16px;
	cursor: pointer;

	&:hover {
		background: rgba(255, 255, 255, 0.1);
		outline: none;
		border: none;
	}
	&:focus,
	&:active,
	&:visited {
		outline: none;
		border: none;
	}
}

#city-name,
.btn-search {
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
	color: #fff;
	background: transparent;
	outline: none;
	font-size: 16px;
	margin: 0;
	display: inline-block;
	border-top: none;
	border-left: none;
	border-right: none; 
	font-weight: 300;
}

.search-city {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 20px 15px;
	height: 40px;
}

#error-message {
	color: #fff;
	font-size: 2em;
	text-align: center;
	width: 100%;
}
